/* Fonts */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Regular-102.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Bold-102.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-Italic-102.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf");
  font-weight: bold;
  font-style: italic;
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  color: #eee;
  background: rgb(51, 46, 54);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
